body{
	margin: 0px;
	background-color: #FCFCFA;
}
*{
	list-style: none;
}
#header{
	width: 100%;
	height: 60px;
}

#header .logo{
	float: left;
	margin-left: 20px; 
	margin-top: 10px;
}
.search{
	float: right;
	margin-right: 30px;
	padding-top: 20px;
	display: flex;
}
.search input{
	width: 200px;
	height: 35px;
	border-radius: 10px;
	border:1px solid #ccc;
	font-size: 15px;
	margin-right: 10px;
}
.search button{
	display: inline-block;
	width: 35px;
	height: 35px;
	background: none;
	border: none;
	cursor: pointer;
	margin-right: 10px;
	padding: 0;
}
.search button img{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
.search a{
	text-decoration: none;
	text-align: center;
	width: 35px;
	height: 35px;
	background-color: #3C26FA;
	border-radius: 50%;
	color: #ffffff;
	font-size: 18px;
	line-height: 35px;
}
#menu{
	background-color: #FFD587;
	width: 100%;
	height: 50px;

}

#menulist{
	position:absolute;
	margin-left: 5%;
	z-index: 9999;
}

#menulist li{
	float: left;
	background-color: #FFD587;
	width: 150px;
	visibility: visible;
}
#menulist a{
	color: #ffffff;
	text-decoration: none;
	display: block;
	width: 100px;
	font-size: 20px;
}

#menulist li ul{
	position:absolute;
	left:auto;
	width:100px;
	padding: 0px;

}
.active{
	background-color: #FFD587;
}

#hot{
	width: 85%;
	height: 500px;
	background-color: #000000;
	padding: 0px 0px 0px 15%;

}

#carousel{
	float: left;
	width: 900px;
	height: 500px;
	position: relative;
	overflow:hidden;
	padding: 0px;
}
#carousel .carouselimg{
	width: 5000px;
	position: absolute;
	padding: 0px;
    margin-top: 0px;
}
#carousel .carouselimg img{
	width: 900px;
	height: 500px;
}
#carousel .carouselimg li{
	float: left;
}
#carousel .btn {
  	width:30px;
  	height:50px;
  	background-color: #ccc;

  	/*透明度寫法*/
  	opacity: 0.5;
  	filter:alpha(opacity:0.5);
  	position: absolute;
  	top:50%;
  	margin-top:-25px;

  	/*字型顏色*/
  	cursor: pointer;  /* cursor 是用來改變滑鼠游標的形狀  pointer 手指去點的圖示*/
  	text-align: center;
  	line-height: 50px;
  	font-size: 50px;
  	color:#fff;
  	display:none;
  	z-index: 9999;
}

#carousel .left{
	left:0px;
}
#carousel .right{
	right:0px;
}
#carousel:hover .btn{
	display:block;
}

#hotimg{
	float: left;
	width: 450px;
	height: 100%;
	background-color: #555;
	padding-left: 2%;

}
#hotimg img{
	width: 80%;
	height: 30%;
}